@charset "UTF-8";

#titulo {
    text-align: center;
}

#subtitulo {
    text-align: center;
}

#cajajugador {
    border: 2px solid black;
}

#cajamapa {
    margin: 5px auto;
    background-image: url('../images/fondomapa.jpg');
    border-radius: 5px;
    box-shadow: 5px 5px 3px black;
}

#cajacanvas {

}
